.contact-us-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contact-title {
    font-family: $title-font;
  }
  .contact-two-column-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .contact-left {
      width: 400px;
      h2 {
        font-family: $title-font;
      }
    }
    .contact-right {
      background-color: red;
      flex-grow: 1;
    }
  }
}
