.footer-container {
  background: rgb(2, 0, 37);
  background: linear-gradient(
    330deg,
    rgba(2, 0, 37, 1) 0%,
    rgba(52, 88, 134, 1) 76%,
    rgba(52, 88, 134, 1) 100%
  );
  color: white;
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .get-in-touch-wrapper {
      display: flex;
      div {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
