.nav-bar-wrapper {
  width: 100vw;
  min-width: 715px;
  background: white;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 0.3s ease-in-out;
  z-index: 2;

  .nav-bar {
    height: 125px;
    width: 85vw;
    display: flex;
    justify-content: center;

    .nav-bar-logo-wrapper {
      width: 10%;
      min-width: 125px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      @include no-select();

      .nav-bar-logo {
        display: flex;
        justify-content: center;
        height: 60%;
        pointer-events: none;
      }

      .nav-bar-logo-heading-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .nav-bar-logo-heading {
          font-size: 13px;
          font-weight: lighter;
          pointer-events: none;
        }
      }
    }

    .nav-bar-buttons-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      padding-right: 40px;
      padding-left: 40px;
      transition: 0.4 s ease-in-out;
      @include no-select();

      .nav-bar-button {
        font-size: 1.3em;
        background: none;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        padding: 10px 20px;
        height: 50px;
        cursor: pointer;
        color: black;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #dfdfdf;
          border-radius: 5px;
        }
      }

      .nav-bar-button-active {
        background-color: $primaryColor;
        color: #fff;
        &:hover {
          background-color: $primaryColor;
          border-radius: 0px;
        }
      }
    }

    .nav-bar-social-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      min-width: 75px;
      padding-right: 20px;

      .icon-wrapper {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;

        .icon {
          font-size: 2em;
          transition: 0.2s ease-in-out;
          color: #000000;
          &:hover {
            font-size: 2.2em;
            transform: rotate(20deg);
            color: $primaryColor;
          }
        }
      }
    }
  }
}
