.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hype-video-container {
    position: fixed;
    z-index: -1;
    .hype-video {
      height: 100vh;
    }
  }
  .home-page-content {
    margin-top: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .home-page-quote {
      padding: 30px;
      background-color: white;
      width: 40%;
      font-size: 1.8em;
      font-style: italic;
      line-height: 1.5em;
    }
    .schedule-a-tour-container {
      border-color: blue;
    }

    .insta-feed-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70vw;

      .insta-posts-wrapper {
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        justify-items: center;
        align-items: center;
        grid-gap: 20px;
        .post-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 20vw;
          height: 20vw;
          margin: 20px;

          &:hover {
            cursor: pointer;
          }

          .insta-post-image {
            width: 20vw;
            height: 20vw;
            object-fit: cover;
            transition: 0.3s ease-in-out;
          }
          .post-text {
            transition: 0.4s ease-in-out;

            position: absolute;
            z-index: 1;
            width: 15vw;
            height: 15vw;
            color: white;

            display: flex;
            align-items: center;
            // margin: 20px 0px;
            // visibility: hidden;
          }
        }
      }
    }
  }
}
