@import "./variables.scss";
@import "./mixins.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./home.scss";
@import "./contact.scss";
@import "./about.scss";

.pages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;

  body {
    font-family: $all-text-font;
  }
}
